.address {
  background-color: $basic-yellow;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  padding: 0 25px;
  padding-top: 31px;
  padding-bottom: 35px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    padding: 0 75px;
    padding-top: 48px;
    padding-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 57px;
  }
}

.address__wrapper {
  @media (min-width: $desktop-width) {
    width: 1022px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transform: translateX(74px);
  }
}

.address__top {
  display: flex;
  align-items: center;

  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.address__icon {
  width: 45px;
  height: 45px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: $special-navy;
  padding: 12px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 26px;
    padding: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
    margin-right: 31px;
    padding: 24px;
  }
}

.address__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $special-blue-light;
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.address__text span {
  display: block;
  max-width: 143px;

  @media (min-width: $tablet-width) {
    max-width: none;
  }
}

.address__link {
  border: 3px solid $special-blue;
  padding: 19px;

  &:hover {
    background-color: $special-blue;
  }

  @media (min-width: $tablet-width) {
    padding: 27px 32px 27px 33px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 324px;
    padding: 25px 31px 27px 35px;
    box-sizing: border-box;
  }
}

.address__link span {
  @media (min-width: $desktop-width) {
    transition: 0.3s;
  }
}

.address__link:hover span {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.address__link svg {
  @media (min-width: $desktop-width) {
    transition: 0.3s;
  }
}

.address__link:hover svg {
  @media (min-width: $desktop-width) {
    fill: white;
  }
}
