.catalog-columns {
  background-color: $basic-blue-light;
}

.catalog-columns__wrapper {
  @media (min-width: $desktop-width) {
    width: 1320px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 951px 285px;
    grid-column-gap: 85px;

    padding-top: 48px;
    padding-bottom: 75px;
  }
}
