.catalog-transport__title {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: $special-grey;

  margin: 0;
  margin-top: 12px;
  margin-bottom: 10px;

  background-color: $basic-white;
  position: relative;
  z-index: 1;
  width: 65px;
  padding: 0 10px;
  margin-left: -10px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog-transport__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  height: 45px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    height: 25px;
    padding-top: 10px;
  }
}

.catalog-transport__item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $basic-blue-light;
  background-position: center center;

  margin-right: 1px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 22px;
    height: 22px;
    background-size: 100% 100%;

    margin-right: 8px;
  }
}
