.catalog {
  background-color: $basic-blue-light;

  padding: 0 25px;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;

    padding: 0;
  }
}

.catalog__more {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $special-blue-light;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 29px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin-top: 46px;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin-top: 67px;
    margin-bottom: 68px;
    transform: translateX(-33px);
  }
}

.catalog__more svg {
  margin-right: 15px;
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 26px;
    height: 26px;
    transform: translate(-8px, -2px);
  }

  @media (min-width: $desktop-width) {
    transition: 0.3s;
  }
}

.catalog__more:hover svg {
  @media (min-width: $desktop-width) {
    opacity: 0.6;
  }
}

.catalog__more:active svg {
  @media (min-width: $desktop-width) {
    opacity: 0.3;
  }
}
