.companions-wishlist__flags {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;

  position: absolute;
  top: 275px;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    transform: translate(-50%, 0%);
    top: 272px;
  }
}

.companions-wishlist__flag {
  margin-right: 20px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.companions-wishlist__flag:hover .companions-wishlist__flag-tooltip {
  display: block;
}

.companions-wishlist__flag-tooltip {
  display: none;
  background-color: $special-purplish-blue;
  position: absolute;
  bottom: -69px;
  right: 50%;
  transform: translateX(50%);
  padding: 18px 0;
  border-radius: 4px;
  width: 110px;

  font-size: 20px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  transition: 0.3s;
}

.companions-wishlist__flag-tooltip svg {
  fill-opacity: 1;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}
