.companions {
  background-color: $basic-blue-light;
}

.companions__wrapper {
  background-color: $special-blue;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.companions__text {
  color: $basic-white;

  &:nth-of-type(1) {
    font-weight: 300;
  }

  &:nth-of-type(2) {
    font-weight: 700;
  }
}

.companions__item {
  background-color: $basic-white;
}

.companions__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $special-blue-light;
}

.companions__tags {
  font-size: 16px;
  line-height: 18px;
  color: $special-grey;
}
