.companions-level {
  background-color: $basic-black-transparent;
  color: $basic-white;
}

.companions-level__num {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.companions-level__text {
  font-size: 14px;
  line-height: 14px;
}
