.contacts-socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.contacts-socials__link {
  text-decoration: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic-yellow;

  display: flex;
  justify-content: center;
  align-items: center;

  &--facebook svg {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 26px;
    }

    @media (min-width: $desktop-width) {
      width: 14px;
      height: 28px;
    }
  }

  &--vkontakte svg {
    @media (min-width: $tablet-width) {
      width: 28px;
      height: 18px;
    }

    @media (min-width: $desktop-width) {
      width: 31px;
      height: 16px;
    }
  }

  &--instagram svg {
    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }
}
