.contacts-developed {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 13px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $special-white-matt;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    transform: translateY(-50%);
  }
}

.contacts-developed__text {
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin-right: 23px;
  }
}

.contacts-developed__link {
  @media (min-width: $tablet-width) {
    position: relative;
    top: 5px;
  }
}
