.desires-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.desires-list__item {
  display: flex;
  align-items: center;
}

.desires-list__country {
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  color: $special-blue-light;
  text-transform: uppercase;
}
