.filter-block__button {
  background-color: $special-lavender;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: $special-blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: none;
  border-radius: 20px;
}
