.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: transparent;
  padding: 19px 0;
  transition: 0.3s;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content 1fr;
    padding: 20px 0;
    margin-top: 27px;
  }

  &--active {
    background-color: $basic-white;
    height: 100%;
    padding-top: 15px;

    @media (min-width: $tablet-width) {
      margin-top: -15px;
      padding-top: 0;
    }
  }

  &--scroll {
    background-color: $basic-white;
    margin-top: 0;
  }
}

.header__logo {
  width: 96px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;

    background-size: 166px;
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;

    background-size: 200px;
    width: 200px;
    height: 52px;
  }
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.header__toggle {
  position: relative;
  width: 25px;
  height: 11px;
  margin-right: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: $basic-white;
    left: 0;
    right: 0;
    border-radius: 2px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    justify-self: center;
    margin-right: 0px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header--scroll .header__toggle::after {
  background-color: $special-grey-light;
}

.header--scroll .header__toggle::before {
  background-color: $special-grey-light;
}

.header__toggle--active {
  &::before,
  &::after {
    background-color: $special-grey-light;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
    top: 0;
  }
}

.header__auth {
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;
    text-decoration: none;
    width: 188px;
    border-radius: 25px;
    padding-top: 16px;
    padding-bottom: 14px;
    text-align: center;
    background-color: $basic-yellow;

    font-size: 20px;
    line-height: 20px;
    color: $basic-blue;
    font-weight: 700;
    text-transform: uppercase;

    margin-left: 28px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
