.header-nav {
  grid-column: 1 / -1;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.header-nav__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
  }
}

.header-nav--closed .header-nav__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header-nav__list {
  margin: 0;
  padding: 0 25px;
  margin-top: 50px;
  margin-bottom: 55px;

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 2px;
      background-color: $basic-white;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 97px;
    margin-top: -20px;
    margin-bottom: 132px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 145px;
    position: relative;
  }
}

.header-nav--nojs .header-nav__list {
  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.header-nav--scroll .header-nav__list::before {
  background-color: $special-blue;
}

.header-nav--nojs .header-nav__list::before {
  background-color: $special-blue;
}

.header-nav__item {
  &:last-child {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 34px;
  }
}

.header-nav__link {
  color: $special-blue;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    @media (min-width: $desktop-width) {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
    transition: 0.3s;
    overflow: hidden;
    display: block;
    height: 20px;
  }
}

.header-nav--nojs .header-nav__link {
  @media (min-width: $desktop-width) {
    color: $special-blue;
  }
}

.header-nav__link span {
  position: relative;
  display: block;
  transition: 0.3s;
}

.header-nav__link span::before {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    color: $basic-yellow;
  }
}

.header-nav__link:hover span {
  @media (min-width: $desktop-width) {
    transform: translateY(-100%);
  }
}

.header-nav--scroll .header-nav__link {
  color: $special-blue;
  transition: 0.3s;
}
