.interested-contacts {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.interested-contacts__item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  display: flex;
  align-items: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $special-navy;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
    }

    @media (min-width: $desktop-width) {
      width: 90px;
      height: 90px;
    }
  }

  &:nth-child(1) {
    @media (min-width: $desktop-width) {
      margin-right: 110px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.interested-contacts__item svg {
  position: relative;
  z-index: 1;

  width: 45px;
  height: 45px;
  box-sizing: border-box;

  margin-right: 16px;

  fill: $basic-yellow;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
    margin-right: 30px;
    transition: 0.3s;
  }
}

.interested-contacts__item:hover svg {
  @media (min-width: $desktop-width) {
    fill: $special-yellow-dark;
  }
}

.interested-contacts__item:active svg {
  @media (min-width: $desktop-width) {
    opacity: 0.3;
  }
}

.interested-contacts__item-telephone {
  padding: 14px;

  @media (min-width: $tablet-width) {
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px;
  }
}

.interested-contacts__item-mail {
  padding: 17px 13px 16px 14px;

  @media (min-width: $tablet-width) {
    padding: 26px 19px 23px 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 25px 30px 28px;
  }
}

.interested-contacts__item a {
  text-decoration: none;
  color: $basic-yellow;
  text-transform: uppercase;

  &:hover {
    @media (min-width: $desktop-width) {
      color: $special-yellow-dark;
    }
  }

  &:active {
    @media (min-width: $desktop-width) {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    transition: 0.3s;
  }
}
