.main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: $basic-white;

  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
