.main-form__top {
  position: relative;
  padding: calc(42px + 53px) 25px 16px 25px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $basic-yellow;
    z-index: -1;

    @media (min-width: $tablet-width) {
      background-color: $basic-blue-light;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color: $special-sapphire;
    z-index: -1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (min-width: $tablet-width) {
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: calc(42px + 179px) 75px 74px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: calc(66px + 154px) 60px 75px 124px;
    display: flex;
    justify-content: center;
  }
}

.main-form__title {
  @media (min-width: $desktop-width) {
    width: 1256px;
  }
}

.main-form__title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 214px;
  height: 5px;
  border-radius: 4px;
  background-color: $special-orange;

  @media (min-width: $tablet-width) {
    width: 358px;
    height: 8px;
    bottom: -73px;
  }

  @media (min-width: $desktop-width) {
    bottom: -75px;
    left: 2px;
  }
}
