.main-catalog__top {
  position: relative;
  padding: calc(42px + 53px) 25px 16px 25px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $special-steel;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color: $special-sapphire;
    z-index: -1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (min-width: $tablet-width) {
      border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: calc(42px + 176px) 74px 76px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: calc(66px + 154px) 60px 74px 59px;
    display: flex;
    justify-content: center;
  }
}

.main-catalog__title {
  @media (min-width: $desktop-width) {
    width: 1011px;
  }
}

.main-catalog__title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 172px;
  height: 5px;
  border-radius: 4px;
  background-color: $special-orange;

  @media (min-width: $tablet-width) {
    width: 288px;
    height: 8px;
    bottom: -76px;
  }

  @media (min-width: $desktop-width) {
    bottom: -75px;
    left: 3px;
  }
}


.main-catalog__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;

  display: none;

  &:hover {
    @media (min-width: $desktop-width) {
      opacity: 0.6;
    }
  }

  &:active {
    @media (min-width: $desktop-width) {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    transition: 0.3s;
    margin-top: 6px;
    margin-left: 6px;
  }
}

.main-catalog__link svg {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 28px;
  }
}
