.main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: $basic-white;

  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main__title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 214px;
  height: 5px;
  border-radius: 4px;
  background-color: $special-orange;

  @media (min-width: $tablet-width) {
    width: 358px;
    bottom: -64px;
  }

  @media (min-width: $desktop-width) {
    bottom: -66px;
  }
}
