.main-form__top {
  position: relative;
  margin-top: 53px;
  padding: 42px 25px 16px 25px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $basic-yellow;
    z-index: -1;

    @media (min-width: $tablet-width) {
      background-color: $basic-blue-light;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color: $special-sapphire;
    z-index: -1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 122px;
    padding: 42px 75px 66px 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 92px;
    padding: 66px 60px 68px 124px;
    display: flex;
    justify-content: center;
  }
}

.main-form__title {
  @media (min-width: $desktop-width) {
    width: 1256px;
  }
}

.main-form__title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 214px;
  height: 5px;
  border-radius: 4px;
  background-color: $special-orange;

  @media (min-width: $tablet-width) {
    width: 358px;
    bottom: -64px;
  }

  @media (min-width: $desktop-width) {
    bottom: -66px;
  }
}
