.plans-item {
  background-color: $basic-white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  border-radius: 10px;

  padding: 24px;
  margin-bottom: 10px;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 54px;
      height: 1px;
      background-color: $special-grey-extra;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 40px 32px 14px 40px;
    position: relative;
    margin-bottom: 13px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 585px min-content min-content min-content;
    align-items: center;
    padding: 35px 42px 38px 43px;
    margin-bottom: 15px;
  }
}

.plans-item__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $special-blue-light;
  display: flex;

  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 52px;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    justify-content: start;
    margin-bottom: 0;
  }
}

.plans-item__title span {
  display: block;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 0;

    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    margin-right: 36px;
  }
}

.plans-item__companions {
  color: $special-blue-light;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 132px;
    margin-right: 50px;
  }
}

.plans-item__date {
  letter-spacing: 0.06em;
  color: $special-blue-light;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    text-align: center;
    transform: translateX(-6px);
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    min-width: 169px;
    margin-right: 131px;
  }
}

.plans-item__button {
  letter-spacing: 0.03em;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;

  &:hover {
    @media (min-width: $desktop-width) {
      opacity: 0.6;
    }
  }

  &:active {
    @media (min-width: $desktop-width) {
      opacity: 0.1;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: right;
    margin-right: 18px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-right: 0;
    transition: 0.3s;
  }
}
