.plans-item {
  background-color: $basic-white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.plans-item__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $special-blue-light;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.plans-item__companions {
  color: $special-blue-light;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.plans-item__date {
  letter-spacing: 0.06em;
  color: $special-blue-light;
  text-transform: uppercase;
}

.plans-item__button {
  letter-spacing: 0.03em;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;
}
