.profile {
  background-color: $special-blue;
}

.profile__wrapper {
  background-color: $basic-blue-light;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.profile__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: $special-grey;
}

.profile__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $special-blue-dark;
  text-decoration: none;
}
