.promo {
  background-image: url("../../img/promo/globe-bg.jpg");
  background-color: $special-blue;
  background-repeat: no-repeat;
}

.promo__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: $basic-white;
}

.promo__list {
  background-color: $special-blue;
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $desktop-width) {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
}

.promo__item {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:nth-child(1) {
    background-color: $special-orange;
  }

  &:nth-child(2) {
    background-color: $special-orange-light;
  }

  &:nth-child(3) {
    background-color: $special-yellow-dark;
  }

  &:nth-child(4) {
    background-color: $basic-yellow;
  }
}

.promo__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $basic-blue;
}

.promo__num {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $basic-white;
}
