.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.site-list__item {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.site-list__item a {
  color: $special-blue;
  text-transform: uppercase;
  text-decoration: none;
}
