.step-settings {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.step-settings__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  &:nth-of-type(1) {
    @media (min-width: $tablet-width) {
      order: 0;
    }
  }

  &:nth-of-type(2) {
    @media (min-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &:nth-child(2) {
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    padding-top: 25px;
    border-top: 1px solid $special-white;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    align-items: center;

    margin-bottom: 14px;
    border: none;
    padding-top: 0;
  }
}

.step-settings__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: $special-blue-light;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 8px;

  &:nth-child(1) {
    letter-spacing: 0.09em;

    @media (min-width: $desktop-width) {
      min-width: 191px;
      letter-spacing: normal;
    }
  }

  &:nth-child(2) {
    opacity: 0.3;
    letter-spacing: 0.07em;

    @media (min-width: $desktop-width) {
      order: 3;
      margin-right: 0;
      margin-left: 38px;
      opacity: 1;
      letter-spacing: normal;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
