.step {
  background-color: $basic-white;
  border-radius: 10px;
  padding: 25px;

  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2) {
    padding-top: 22px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding: 46px 38px 56px 43px;
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      padding: 96px 159px 108px 159px;
      margin-bottom: 43px;
    }
  }

  &:nth-child(3) {
    padding: 21px 25px 9px 25px;

    @media (min-width: $tablet-width) {
      padding: 42px 38px 56px 43px;
    }

    @media (min-width: $desktop-width) {
      padding: 96px 159px 105px 159px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 45px 38px 56px 40px;
    margin-bottom: 40px;
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 60px;
    padding: 98px 159px 105px 159px;
    margin-bottom: 44px;
  }
}

.step__top {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: start;

    padding-bottom: 57px;
    margin-bottom: 30px;

    position: relative;
  }

  &::after {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $special-white;
    }
  }
}

.step:nth-child(2) .step__top {
  margin-bottom: -2px;
}

.step__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $special-blue-light;

  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
  }
}

.step__title br {
  @media (min-width: $desktop-width) {
    display: inline;
    content: ' ';

    &::after {
      content: ' ';
    }
  }
}

.step__text {
  color: $special-grey;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.step__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.step__text .br {
  display: block;
}

.step__nav {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.step__next {
  background-color: $basic-yellow;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $special-blue-light;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  padding: 5px 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    width: 284px;
    padding: 31px 35px 27px 34px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 32px 29px 35px;
  }
}

.step__next svg {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.step__prev {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $special-blue-light;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  justify-content: center;
  margin-top: 13px;

  &:hover {
    @media (min-width: $desktop-width) {
      opacity: 0.7;
    }
  }

  &:active {
    @media (min-width: $desktop-width) {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 22px;
    text-transform: none;

    align-items: center;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    transition: 0.3s;
  }
}

.step__prev svg {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    transform: rotate(180deg);
    margin-right: 23px;
    fill: $special-blue-light;
  }
}

.step__button {
  font-family: "Blogger Sans", "Arial", sans-serif;
  background-color: $basic-yellow;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $special-blue-light;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  padding: 5px 0;
  width: 100%;

  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    width: 286px;
    padding: 29px 37px 27px 34px;
    box-sizing: border-box;
    justify-content: space-between;
    text-transform: none;
  }
}

.step__button svg {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
