.step-date {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.step-date__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $special-lavender-extra;
  border-bottom: 1px solid $special-lavender-extra;

  padding: 11px 0;
  margin-top: 24px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    margin-bottom: 39px;
    padding-top: 22px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
    margin-bottom: 18px;
    padding-bottom: 27px;
  }
}

.step-date__month {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $special-blue-light;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.step-date__button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:nth-child(1) {
    transform: translate(-6px, 4px);

    @media (min-width: $tablet-width) {
      transform: translate(12px, 4px);
    }

    @media (min-width: $desktop-width) {
      transform: translate(-4px, 5px);
    }
  }

  &:nth-child(3) {
    transform: translate(6px, 4px);

    @media (min-width: $tablet-width) {
      transform: translate(-12px, 4px);
    }

    @media (min-width: $desktop-width) {
      transform: translate(4px, 5px);
    }
  }

  @media (min-width: $desktop-width) {
    transition: 0.3s;
  }
}

.step-date__button svg {
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 19px;
    height: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 16px;
    height: 28px;
    transition: 0.3s;
  }
}

.step-date__button:hover svg {
  opacity: 0.5;
}

.step-date__button:active svg {
  opacity: 0.1;
}

.step-date__calendar {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  width: 221px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    width: 538px;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
    margin: 0 auto;
  }
}

.step-date__letters {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  text-align: center;

  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    text-align: left;
  }
}

.step-date__letters li {
  width: 32px;

  &:nth-last-child(1) {
    color: $special-orange-dark;
  }

  &:nth-last-child(2) {
    color: $special-orange-dark;
  }

  @media (min-width: $tablet-width) {
    width: 77px;
  }

  @media (min-width: $desktop-width) {
    width: 144px;
    padding-left: 16px;
    margin-top: -2px;
  }
}

.step-date__letters span {
  &:nth-child(1) {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:nth-child(2) {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.step-date__numbers {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.step-date__number {
  width: 29.5px;
  height: 29px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border: 1px solid $special-lavender-extra;
  background-color: $basic-blue-light;
  color: $special-blue-light;

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 134px;
      height: 61px;
      border: 4px solid #FF5C23;
      opacity: 0;
      transition: 0.3s;
    }
  }

  &:hover::before {
    @media (min-width: $desktop-width) {
      opacity: 1;
    }
  }

  &--disabled {
    background-color: $basic-white;

    &:hover::before {
      @media (min-width: $desktop-width) {
        opacity: 0;
      }
    }
  }

  &--active {
    background-color: $special-blue-light;
    color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    width: 74.5px;
    height: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 142.5px;
    height: 71px;
    transition: 0.3s;
    display: block;
    padding-top: 11px;
    padding-left: 14px;
    box-sizing: border-box;
  }
}

.step-date__number--active:nth-last-of-type(11),
.step-date__number--active:nth-last-of-type(9) {
  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.step-date__number--active:nth-last-of-type(11) span,
.step-date__number--active:nth-last-of-type(9) span {
  &:nth-child(2) {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}

.step-date__number--disabled span {
  opacity: 0.3;
}

.step-date__number .step-date__number-month {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-left: 5px;
  }
}
