.step-kids {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.step-kids input {
  border: 1px solid $special-grey-extra;
  border-radius: 4px;
}

.step-kids label {
  font-size: 15px;
  line-height: 15px;
  color: $special-blue-light;
}
