.step-settings {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.step-settings__item {
  @media (min-width: $tablet-width) {
    &:nth-of-type(1) {
      order: 0;
    }

    &:nth-of-type(2) {
      order: 2;
    }
  }
}

.step-settings__top {
  display: flex;
  justify-content: space-between;
}

.step-settings__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: $special-blue-light;
  text-transform: uppercase;

  &:nth-child(1) {
    letter-spacing: 0.09em;
  }

  &:nth-child(2) {
    opacity: 0.3;
    letter-spacing: 0.07em;
  }
}
