.steps {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    margin: 0 auto;
    margin-top: 54px;
  }
}
