$basic-white: #ffffff;
$basic-black: #000000;
$basic-blue: #161c35;
$basic-yellow: #ffd74b;
$basic-blue-light: #edeff6;
$basic-black-transparent: rgba(0, 0, 0, 0.6);

$special-orange: #ff8d30;
$special-orange-dark: #ff5c23;
$special-orange-light: #ffa530;
$special-yellow-dark: #ffbd30;
$special-blue: #192144;
$special-blue-light: #1d2e5b;
$special-blue-dark: #132576;
$special-grey: #444444;
$special-grey-light: #cccccc;
$special-grey-extra: #cbced9;
$special-sky: #dfe3f0;
$special-lavender: #d6daed;
$special-lavender-blue: #d4d9eb;
$special-lavender-extra: #d6d9e6;
$special-steel: #e2e5f2;
$special-sapphire: #182044;
$special-pink: #f9eaea;
$special-navy: #121936;
$special-midnight-blue: #141b3b;
$special-red-light: #f97676;
$special-green-light: #81e31e;
$special-white: #e1e3e9;
$special-white-matt: #f2f2f2;
$special-saffron: #f3c72b;
